<configuration>
<appSettings>
    <add key="webpages:Enabled" value="true" />
  </appSettings>
 <system.webServer>
   <directoryBrowse enabled="true" showFlags="Date,Time,Extension,Size" />
   <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\EmployeeManagement.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  <configSections>
  <sectionGroup name="devExpress">
    <!--........-->
    <section name="bootstrap" type="DevExpress.Web.Bootstrap.BootstrapConfigurationSection, DevExpress.Web.Bootstrap.v20.1, Version=20.1.2.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
  </sectionGroup>
</configSections>
<!--........-->
<devExpress>
  <bootstrap mode="Bootstrap4" iconSet="Embedded" />
  <resources>
    <add type="ThirdParty" />
    <add type="DevExtreme" />
  </resources>
  <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
  <settings accessibilityCompliant="true" doctypeMode="Html5" rightToLeft="false" checkReferencesToExternalScripts="true" protectControlState="true" ieCompatibilityVersion="edge" />
  <errors callbackErrorRedirectUrl="" />
</devExpress>
</configuration>