<configuration>
<appSettings>
    <add key="webpages:Enabled" value="true" />
  </appSettings>
  <system.web>
      <httpHandlers>
        <add path="*.js" verb="GET,HEAD" type="System.Web.StaticFileHandler" />
        <add path="*.css" verb="GET,HEAD" type="System.Web.StaticFileHandler" />
        <add path="*" verb="*.cshtml" type="System.Web.HttpNotFoundHandler"/>
      </httpHandlers>
    </system.web>
 <system.webServer>
     <httpProtocol>
        <customHeaders>
          <add name="Cache-Control" value="public, max-age=0, must-revalidate" />
        </customHeaders>
      </httpProtocol>
      <httpErrors errorMode="Custom" defaultResponseMode="ExecuteURL">
	<remove statusCode="404" subStatusCode="-1" />
        <error statusCode="404" path="/404/index.html" responseMode="ExecuteURL" /> 
      </httpErrors>
   <directoryBrowse enabled="true" showFlags="Date,Time,Extension,Size" />
   <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified"/>
 
    <aspNetCore processPath="dotnet" arguments=".\EmployeeManagement.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
        <remove name="BlockViewHandler"/>
        <add name="JavaScriptHandler" path="*.js" verb="GET,HEAD" type="System.Web.StaticFileHandler" />
        <add name="CssHandler" path="*.css" verb="GET,HEAD" type="System.Web.StaticFileHandler" />
        <add name="BlockViewHandler" path="*" verb="*.cshtml" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
      </handlers>
  </system.webServer>

</configuration>