<configuration>
<appSettings>
    <add key="webpages:Enabled" value="true" />
  </appSettings>
 <system.webServer>
   <directoryBrowse enabled="true" showFlags="Date,Time,Extension,Size" />
   <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\EmployeeManagement.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
</configuration>